#gradient-map {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	background: linear-gradient(45deg, #0F0, #F00);
}

#gradient-map:after {
	z-index: -9;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    content: "";
	background: linear-gradient(135deg, #00F, #F00);
	-webkit-mask: linear-gradient(white, transparent);
	mask: linear-gradient(white, transparent);
}