body {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  text-shadow: 0 0 2px black;
  background-color: black;
}

#tool-indicator {
  border-radius: 50px;
  border: 1px solid white;
  /*box-shadow: 0 3px 5px rgba(0,0,0,0.75);*/
}

#gradient-map {
  /*z-index:-8;*/
  position: fixed; 
  top: 0; 
  left: 0; 
/*  height: 100%; 
  width: 100%; */
}
#paint-canvas {
  z-index: -6;
  position: fixed;
  top: 0;
  left: 0;
}

#fingers-detected {
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 200px;
  height: 20px;

  margin: auto;

  opacity: 0;
  -webkit-transition: all 2s;
          transition: all 2s;
}

#fingers-detected.show {
    opacity: 100;
    -webkit-transition: 0;
            transition: 0;
}​